@using TaskManager.Auth

@inject AuthenticationService _AuthenticationService;

@{
}

@if (_AuthenticationService.IsAuthenticated)
{
    <div>
        <span class="navbar-brand">@_AuthenticationService.User.Email</span>
        <a class="navbar-brand btn btn-outline-warning" asp-controller="User" asp-action="Logout">Sign Out</a>
    </div>
}
