@using TaskManager.Auth

@inject AuthenticationService _AuthenticationService;

@{
    var user = _AuthenticationService.User();
}

@if (_AuthenticationService.IsAuthenticated)
{
    <div>
        <a class="navbar-brand" asp-controller="User" asp-action="GetProfile">@user.Email</a>
        <a class="navbar-brand btn btn-outline-warning" asp-controller="Auth" asp-action="Logout">Sign Out</a>
    </div>
}