
@model AddTaskViewModel;
@{
}

<form class="form-inline row g-3" asp-controller="Task" asp-action="Create" method="POST">
    <div class="col-sm-9">
        <input class="form-control" asp-for="Description" />
    </div>
    <div class="col-1">
        <button type="submit">Create</button>
    </div>
</form>
